<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" 
  [style.background-color]= "currentTheme == 'black' ? currentTheme : ''"
  > 
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div style="display: flex; width: 100%; justify-content: space-between;">
      <h1 class="example-app-name">Sistema de Gestão de Viaturas</h1>
      <app-botao-componente rotulo="Alterar tema" (botaoClicado)="onClickBotaoAlterarTema()"></app-botao-componente>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
    >
      <mat-nav-list>
        <a routerLink="/" style="height: 150px; display: flex; flex-direction: column">
          <img src="assets/IMG-Carro.svg" alt="Logo sistema" />
          <h4 style="text-align: center; text-decoration: none; color: black;"><b>Gestão de Viaturas</b></h4>
        </a>
        <hr style="margin-top: 40px" />
        <a
          mat-list-item
          [routerLink]="[nav.path]"
          *ngFor="let nav of fillerNav"
          >{{ nav.label }}</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
